/PBO11/MinMaxProject/nbproject/private/
/PBO11/MinMaxProject/build/
/PBO11/SortingProject/nbproject/private/
/PBO11/SortingProject/build/
/PBO11/SimpelArrayListProject/nbproject/private/
/PBO11/SimpelArrayListProject/build/
/PBO11/SimpelArrayListProject/dist/
/PBO11/11/nbproject/private/
/PBO11/11/build/